<div id="updown">
    <span><a class="icon-angle-up scroll" href="#header" title="up"></a></span>
    <span><a class="icon-angle-down scroll" href="#footer" title="down"></a></span>
</div>
<div id="footer" class="content">
   <span>© 2013 powered by node-blog&bae | 版本: 0.1.0</span>
    <span>
       <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
           document.write(unescape("%3Cspan id='cnzz_stat_icon_1000446878'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1000446878%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    </span>
</div>