<div id="updown">
    <span><a class="icon-angle-up scroll" href="#header" title="up"></a></span>
    <span><a class="icon-angle-down scroll" href="#footer" title="down"></a></span>
</div>
<div id="footer" class="content">
    © 2013 powered by nodejs&bae | 版本: 0.1.0
    <a href="https://github.com/maczam/nodeblog">github</a>
</div>