<title><%= title %></title>
<!--<link rel="stylesheet" type="text/css" href="/themes/default/libs/bootstrap3.1.1/css/bootstrap.css"/>-->
<link rel="stylesheet" href="/blog/themes/default/css/style.css"/>
<!--[if IE 7]>
<link rel="stylesheet" href="/blog/themes/default/css/fontello-ie7.css">
<![endif]-->