<!DOCTYPE html>
<html>
<head>
    <%- include temple/head.ejs %>
</head>
<body>
<div id="main" role="main">
    <%- include temple/header.ejs %>
    <div class="content">
        <%- include/temple/post.ejs%>
    </div>
    <%- include temple/footer.ejs %>
</div>
</body>
</html>