<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel="stylesheet" type="text/css" href="/themes/default/libs/bootstrap3.1.1/css/bootstrap.css"/>-->
    <link rel="stylesheet" href="/themes/default/css/style.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="/themes/default/css/fontello-ie7.css">
    <![endif]-->
</head>
<body>
<div id="main" role="main">
    <%- include header.ejs %>
    <div class="content">
        <div class="article">

            <div class="title">
                <h2>Tags </h2>
            </div>

            <div class="post">
                <div id="tag_cloud">

                    <a href="#blog" title="blog" rel="2">blog</a>

                    <a href="#rss" title="rss" rel="1">rss</a>

                    <a href="#RabbitMQ" title="RabbitMQ" rel="1">RabbitMQ</a>

                    <a href="#Linux远程桌面" title="Linux远程桌面" rel="1">Linux远程桌面</a>

                    <a href="#erlang安装" title="erlang安装" rel="1">erlang安装</a>

                    <a href="#RabbitMQ安装" title="RabbitMQ安装" rel="1">RabbitMQ安装</a>

                    <a href="#社交app" title="社交app" rel="1">社交app</a>

                    <a href="#Rabbitmq" title="Rabbitmq" rel="1">Rabbitmq</a>

                    <a href="#ubuntu" title="ubuntu" rel="1">ubuntu</a>

                    <a href="#youku" title="youku" rel="1">youku</a>

                    <a href="#js" title="js" rel="1">js</a>

                    <a href="#html5" title="html5" rel="1">html5</a>

                </div>

                <ul class="listing">

                    <div class="anchorouter"><a href="#blog" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="blog">blog</li></div>

                    <li class="listing-item">
                        <time datetime="2013-10-13">2013-10-13</time>
                        <a href="/2013/10/13/test-post-summary.html" title="搭建新家">搭建新家</a>
                    </li>

                    <li class="listing-item">
                        <time datetime="2013-10-05">2013-10-05</time>
                        <a href="/2013/10/05/init-blog.html" title="搭建新家">搭建新家</a>
                    </li>


                    <div class="anchorouter"><a href="#rss" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="rss">rss</li></div>

                    <li class="listing-item">
                        <time datetime="2013-10-07">2013-10-07</time>
                        <a href="/2013/10/07/theoldread.html" title="theoldreader">theoldreader</a>
                    </li>


                    <div class="anchorouter"><a href="#RabbitMQ" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="RabbitMQ">RabbitMQ</li></div>

                    <li class="listing-item">
                        <time datetime="2013-10-08">2013-10-08</time>
                        <a href="/2013/10/08/rabbitmq.html" title="RabbitMQ 笔记">RabbitMQ 笔记</a>
                    </li>


                    <div class="anchorouter"><a href="#Linux远程桌面" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="Linux远程桌面">Linux远程桌面</li></div>

                    <li class="listing-item">
                        <time datetime="2013-10-10">2013-10-10</time>
                        <a href="/2013/10/10/rdesktop-remmina.html" title="Linux远程windows桌面">Linux远程windows桌面</a>
                    </li>


                    <div class="anchorouter"><a href="#erlang安装" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="erlang安装">erlang安装</li></div>

                    <li class="listing-item">
                        <time datetime="2013-10-11">2013-10-11</time>
                        <a href="/2013/10/11/rabbitmq-install.html" title="RabbitMQ安装">RabbitMQ安装</a>
                    </li>


                    <div class="anchorouter"><a href="#RabbitMQ安装" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="RabbitMQ安装">RabbitMQ安装</li></div>

                    <li class="listing-item">
                        <time datetime="2013-10-11">2013-10-11</time>
                        <a href="/2013/10/11/rabbitmq-install.html" title="RabbitMQ安装">RabbitMQ安装</a>
                    </li>


                    <div class="anchorouter"><a href="#社交app" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="社交app">社交app</li></div>

                    <li class="listing-item">
                        <time datetime="2013-10-13">2013-10-13</time>
                        <a href="/2013/10/13/app.html" title="国内社交类app盘点">国内社交类app盘点</a>
                    </li>


                    <div class="anchorouter"><a href="#Rabbitmq" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="Rabbitmq">Rabbitmq</li></div>

                    <li class="listing-item">
                        <time datetime="2013-10-15">2013-10-15</time>
                        <a href="/2013/10/15/install-rabbit-cluster-by-config.html" title="Rabbitmq集群安装笔记">Rabbitmq集群安装笔记</a>
                    </li>


                    <div class="anchorouter"><a href="#ubuntu" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="ubuntu">ubuntu</li></div>

                    <li class="listing-item">
                        <time datetime="2013-10-15">2013-10-15</time>
                        <a href="/2013/10/15/login-with-unity2d.html" title="默认使用ubuntu Unity2D登录系统">默认使用ubuntu Unity2D登录系统</a>
                    </li>


                    <div class="anchorouter"><a href="#youku" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="youku">youku</li></div>

                    <li class="listing-item">
                        <time datetime="2013-10-27">2013-10-27</time>
                        <a href="/2013/10/27/youku-remove-ad.html" title="去除youku广告没黑屏">去除youku广告没黑屏</a>
                    </li>


                    <div class="anchorouter"><a href="#js" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="js">js</li></div>

                    <li class="listing-item">
                        <time datetime="2013-11-10">2013-11-10</time>
                        <a href="/2013/11/10/html5-webwork.html" title="html5的webwork">html5的webwork</a>
                    </li>


                    <div class="anchorouter"><a href="#html5" class="anchor"><span class="icon-hand-right anchor"></span></a><li class="listing-seperator" id="html5">html5</li></div>

                    <li class="listing-item">
                        <time datetime="2013-11-10">2013-11-10</time>
                        <a href="/2013/11/10/html5-webwork.html" title="html5的webwork">html5的webwork</a>
                    </li>


                </ul>
            </div>
        </div>

    </div>
    <%- include footer.ejs %>
</div>
</body>
</html>